<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="spectrumanalyzer.dengn.spectrumanalyzer" >
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:name="MyApplication"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="de.quist.app.errorreporter.ExceptionReportService"
            android:process=":exceptionReporter"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- TODO -->
        <meta-data
            android:name="de.quist.app.errorreporter.targetUrl"
            android:value="http://54.69.185.28/spectrum/error.php" />

    </application>

</manifest>
